.topnav {
    overflow: hidden;
    background-color: #9000ff;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #f3ff00;
    color: black;
}

.topnav a.active {
    background-color: #af0e11;
    color: white;
}
body {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8be7f3;}
.travel_beach {color: rgb(237, 76, 100);}
.lists {
    color: rgb(8, 31, 242);
}
.lists {
    background-color: orange;
    padding-left: 4px;
}
.explanations {
    color: rgb(89, 240, 43);
    padding-left: 4px;
}
.explanations {
    background-color: rgb(255, 105, 133);
}
.recipe {
    background-color: rgb(255, 0, 255);

}
#contents {background-color: rgb(230, 255, 0); }

#eli-kate {
    color:rgb(86, 0, 161);
    border:15px ridge rgb(240, 26, 26);
    padding: 3px;
    font-family:cursive;
    background-color:rgb(83, 204, 237);
    margin-bottom:26px;
    float: left;
}
#love {
    color:red;
}
#the-details {
    font-weight:bold;
    font-size:17px;
}
.info {
    color:blue;

}
.deets {
    background-color:rgb(255, 188, 31);
    margin:15px;
    border:10px solid;
    padding-left:15px;
    border-radius:15px;
}
.writing {
    border:10px groove red;
    background-color:rgb(86, 247, 121);
    margin:15px;
    padding-left:15px;
    border-radius:15px;
}
#photo {
    width: 150px;
    margin-right:30px;
    margin-left:20px;
    margin-bottom:5px;
    border: rgb(0, 77, 255) 10px outset;
}
.hangman-image {
    margin-top: 100px;
    margin-left: 10px;
    padding: 10px;
    width: 175px;
}
#macncheese {
    background-color: #ff5546;
}

#avocado-toast {
    background-color: #37b900;
}
#cookies {
    background-color:sandybrown;
}
#guess_display {
    font-size: 24px;
    border:ridge #f8ff00 10px;
    width: 200px;
    margin:auto;
    padding: 7px;
    text-align: center;
}
#guess_form {
    font-size: 20px;
    width: 200px;
    margin:auto;
    padding: 4px;
    text-align: center;
}
#guess_status {
    font-size: 20px;
    width: 200px;
    margin:auto;
    padding: 4px;
    text-align: center;

}
 #board td {
     width: 30px;
     height: 30px;
     text-align: center;
 }

 .ttt-board {
     position: absolute;
     top: 85px;
     left: 600px;
     padding: 8px;
     border: groove #2fff00 10px;
     font-size: 22px;
 }
 #math-matician {
     position: absolute;
     top: 70px;
     left: 250px;
     width: 300px
 }
 #owl {
     position: absolute;
     top: 115px;
     left: 940px;
     width: 220px;
 }
 #cat {
     position: absolute;
     top: 450px;
     left: 575px;
     width: 275px;
 }